DB_HOST=localhost
DB_NAME=chatbot
DB_USER=chatbot_user
DB_PASSWORD=supersecret

GEMINI_API_KEY=
GEMINI_MODEL=gemini-2.5-flash

ENABLE_SEMANTIC_SEARCH=true
SEMANTIC_BACKEND=qdrant
SEMANTIC_MODEL_NAME=keepitreal/vietnamese-sbert

QDRANT_URL=http://localhost:6333
QDRANT_API_KEY=
QDRANT_COLLECTION=travel_destinations
