# Python
__pycache__/
*.py[cod]
*$py.class

# Environments & Secrets
.venv/
.env

# Rasa
rasa_bot/.rasa/
rasa_bot/models/*.tar.gz
rasa_bot/results/

# Logs & Runtime
logs/
*.log
.runtime/

# Editor & OS
.vscode/
.DS_Store
.idea/

# MLflow directories
mlruns/
mlartifacts/

